@model Customer

<div class="card shadow border-0 mt-4">
    <input asp-for="Id" hidden />
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="col-12 text-white py-2">Delete Customer</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">
                <div class="form-floating py-2 col-12">
                    <input asp-for="@Model.Name" disabled class="form-control border-0 shadow" />
                    <label asp-for="@Model.Name" disabled class="ms-2"></label>                    

                    <div class="form-floating py-2 col-12">
                        <input asp-for="@Model.BirthDate" disabled class="form-control border-0 shadow" />
                        <label asp-for="@Model.BirthDate" disabled class="ms-2"></label>                        
                    </div>


                </div>
                @* <div class="form-floating py-2 col-12">
                <select asp-for="Customer.MembershipTypeId" asp-items="@Model.MembershipTypeList" class="form-select border-0 shadow">
                <option disabled selected>--Select MembershipType--</option>
                </select>
                <label asp-for="Customer.MembershipTypeId" class="ms-2"></label>
                <span asp-validation-for="Customer.MembershipTypeId" class="text-danger"></span>
                *@
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger form-control">Delete</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Customer" asp-action="Index" class="btn btn-outline-primary border form-control">
                            Back to list
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}